@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = ViewData["Title"]; }

@section Headers{
    <link href="~/css/editor.css" rel="stylesheet" />
}
@RenderSection("styles", false)


<div class="card mx-md-4 mx-2">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header" id="layoutForm_MainNavbar">
            </div>
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", false)
    <script>
        $('#layoutForm_MainNavbar').html($('#layoutForm_Navbar').html());
        $('#layoutForm_Navbar').remove();
    </script>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <script>
        $('[type="file"]').change(function (evt) {
            var tgt = evt.target || window.event.srcElement,
                files = tgt.files;
            var element = $(this);
            if (FileReader && files && files.length) {
                var fr = new FileReader();
                fr.onload = function () {
                    $("#ImageUpload").attr("src", fr.result)
                }
                fr.readAsDataURL(files[0]);
            }
            else {
            }
        });
    </script>
}
