<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/Products">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i> Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Orders">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i> Orders
                </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>